@font-face {
    font-family: "font";
    src: url(fonts/Belleza-Regular.ttf);
}
@font-face {
    font-family: "button";
    src: url(fonts/SecularOne-Regular.ttf);
}
@font-face {
    font-family: "ph";
    src: url(fonts/RussoOne-Regular.ttf);
}
body{
    background-color:rgb(37, 41, 39);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.container{

   
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color: white;
    font-family: "font";
    font-size: 30px;
    
}

span{
    color: rgb(255, 230, 0);
    display: block;
    text-decoration: underline;
    margin-bottom: 20px;
}
input{
    
    width: 400px;
    height: 50px;
    border: none;
    outline: 0;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    padding: 10px;
    position: absolute;
    font-family: "font";
    font-size: larger;
    color: rgb(255, 0, 0);
}
input::placeholder {
    color: #ddd8d8;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


#copy{
    width: 40px;
    height: 40px;
    position: relative;
    margin-left: 350px;
    
}
button img{
    width: 25px;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    width: 150PX;
    height: 40PX;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    background-color: rgb(255, 255, 0);
    color: rgb(14, 13, 13);
    font-family: "button";
    cursor: pointer;
   
}

.credit ,a{
    color: white;
}

